body {
  margin: 0;
  overflow: hidden;
  animation: screenPulse 2s infinite ease-in-out;
}

/* Background heartbeat effect */
@keyframes screenPulse {
  0% { background-color: black; }
  50% { background-color: #1a0010; }
  100% { background-color: black; }
}

canvas {
  position: absolute;
}

svg {
  display: none;
}
